<div class="well">
  <p>Your timelogs:</p>
  <%= render 'timelogs/timelogs' %>
  <%= link_to 'New timelog', new_user_timelog_path, class: 'btn btn-xs btn-default' %>
  <%= link_to 'Back', root_path, class: 'btn btn-xs btn-default' %>
</div>