<div class="well">
  <p>
    Start date: <%= vacation.start_date %><br>
    End date: <%= vacation.end_date %><br>
    Status: <%= vacation.status %><br>
    <%= link_to 'Cancel request', [:user, vacation], class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
</div>