<div class="well">
  <% if @vacations.empty? %>
    <h3>Request a vacation!<h3>
  <% else %> 
    <h3>Vacations</h3>
    <%= render 'vacations/vacations' %>
  <% end %>
  <%= link_to 'Request a vacation', new_user_vacation_path, class: 'btn btn-default' %>
</div>