<%= javascript_pack_tag 'hello_react' %>
<div class="jumbotron">
  <h1 class="display-4">Bootstrap</h1>
  <p class="lead">
    A text to make sure that bootsrap is enabled.
  </p>
</div>
<%= javascript_pack_tag 'timelogs' %>
<%= javascript_pack_tag 'new_timelog_button' %>